@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyCustomFont';
  src: url('/assets/fonts/MyCustomFont-Regular.woff2') format('woff2'),
       url('/assets/fonts/MyCustomFont-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lanze';
  src: url('/src/assets/fonts/Lanze-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Halo Grotesk';
  src: url('/src/assets/fonts/HaloGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


@media (prefers-color-scheme: dark) {
  body {
    background: #fff !important; 
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}